.main{
	padding:1rem 2rem;
}

.main h3{
	text-align:center;
	padding:1rem 0rem;
}

.grid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
	text-align:center;
	max-width:85%;
	margin:auto;
}

.order{
	grid-column:4;
}

.btn{
	padding:0.5rem 3rem;
	background-color:var(--buyButton);
	border:none;
	color:var(--white);
	border-radius:5px;
	outline:none;
}

.button{
	margin:50px 0px;
	display:flex;
	gap:20px;
	justify-content:center;
}