.main{
	display:grid;
	grid-template-columns:1fr 10fr;
	gap:10px;
}

.btn{
	background:none;
	padding:0.2rem 0rem;
	margin-top:30px;
	color:var(--buyButton);
	border:none
}

.grid{
	padding:10px 20px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	gap:20px;
}

.filter{
	border-right:1px solid var(--buyButton);
	border-radius:10px;
	padding:0rem 2rem;
	text-align:left;
	width:160px;
	max-height:400px;
}

@media(max-width:1100px)and (min-width:780px){
	.filter{display:none}
	.grid{
		grid-template-columns:1fr 1fr 1fr;
		margin:auto;
	}
}

@media(max-width:780px){
	.main{grid-template-columns:1fr;}
	.grid{
		grid-template-columns:1fr 1fr;
		width:200px;
		margin-inline:100px;
	}
	.filter{
		display:none;
	}
}

@media(max-width:480px){
	.grid{
		grid-template-columns:1fr;
		margin-inline:7%;
	}
}