
:root {
 --font-mono: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
     'Helvetica Neue', sans-serif ;

  --box-shadow:0px 0px 10px -5px #000000;
  --shape:79% 30% 68% 66%;

  --black:#000000;
  --white:#ffffff;
  --footer-color:#0a0039;
	--footer-text:#ffffff;
	--buyButton:#0053b2;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding-top:2rem;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width:700px){
	body{
		padding:3rem 0rem;
		font-size:1%;
	}
}


html::-webkit-scrollbar
{
    font-size: 62.5%;
    width: 0.7rem;
}
html::-webkit-scrollbar-track
{
    background: #000;
}
html::-webkit-scrollbar-thumb
{
    background: gray;
}